USE [master]
GO
/****** Object:  Database [MuseoDB]    Script Date: 30/4/2025 23:31:59 ******/
CREATE DATABASE [MuseoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MuseoDB', FILENAME = N'C:\SQLServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\MuseoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MuseoDB_log', FILENAME = N'C:\SQLServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\MuseoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MuseoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MuseoDB]
GO
/****** Object:  Table [dbo].[administradoresTB]    Script Date: 30/4/2025 23:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administradoresTB](
	[idAdmin] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [varchar](30) NOT NULL,
	[contrasenia] [varchar](30) NOT NULL,
	[permiso] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[articuloMuseoTB]    Script Date: 30/4/2025 23:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articuloMuseoTB](
	[idArticulo] [int] IDENTITY(1,1) NOT NULL,
	[idMuseo] [int] NULL,
	[genero] [varchar](150) NOT NULL,
	[nombreArticulo] [varchar](25) NOT NULL,
	[imagenArticulo] [image] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datosMuseoTB]    Script Date: 30/4/2025 23:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datosMuseoTB](
	[idMuseo] [int] NULL,
	[fundado] [date] NOT NULL,
	[historiaMuseo] [varchar](2000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generoTB]    Script Date: 30/4/2025 23:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generoTB](
	[idGenero] [int] IDENTITY(1,1) NOT NULL,
	[genero] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMGMuseoTB]    Script Date: 30/4/2025 23:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMGMuseoTB](
	[idMuseo] [int] NULL,
	[imagenMuseo] [image] NULL,
	[idImagen] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idImagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[museoTB]    Script Date: 30/4/2025 23:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[museoTB](
	[idMuseo] [int] IDENTITY(1,1) NOT NULL,
	[nombreMuseo] [varchar](25) NOT NULL,
	[dirreccion] [varchar](50) NOT NULL,
	[codDireccion] [varchar](50) NOT NULL,
	[genero] [varchar](150) NOT NULL,
	[textResume] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMuseo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[administradoresTB] ON 

INSERT [dbo].[administradoresTB] ([idAdmin], [nombreUsuario], [contrasenia], [permiso]) VALUES (1, N'sam@gmail.com', N'123456', 1)
SET IDENTITY_INSERT [dbo].[administradoresTB] OFF
GO
SET IDENTITY_INSERT [dbo].[generoTB] ON 

INSERT [dbo].[generoTB] ([idGenero], [genero]) VALUES (1, N'ARTE')
INSERT [dbo].[generoTB] ([idGenero], [genero]) VALUES (3, N'CIENTIFICO')
INSERT [dbo].[generoTB] ([idGenero], [genero]) VALUES (5, N'CULTURA')
SET IDENTITY_INSERT [dbo].[generoTB] OFF
GO
SET IDENTITY_INSERT [dbo].[museoTB] ON 

INSERT [dbo].[museoTB] ([idMuseo], [nombreMuseo], [dirreccion], [codDireccion], [genero], [textResume]) VALUES (10, N'M3', N'TT', N'784651', N'HISTORIA', N'754')
INSERT [dbo].[museoTB] ([idMuseo], [nombreMuseo], [dirreccion], [codDireccion], [genero], [textResume]) VALUES (15, N'Samuel Denis', N'0000', N'Villca Castro', N'CULTURA', N'789465132')
SET IDENTITY_INSERT [dbo].[museoTB] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__generoTB__8C6B39E7E6E8EF7A]    Script Date: 30/4/2025 23:31:59 ******/
ALTER TABLE [dbo].[generoTB] ADD UNIQUE NONCLUSTERED 
(
	[genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__museoTB__032F80700F999A1E]    Script Date: 30/4/2025 23:31:59 ******/
ALTER TABLE [dbo].[museoTB] ADD UNIQUE NONCLUSTERED 
(
	[nombreMuseo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__museoTB__A63DEBE8AC4EE288]    Script Date: 30/4/2025 23:31:59 ******/
ALTER TABLE [dbo].[museoTB] ADD UNIQUE NONCLUSTERED 
(
	[codDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[articuloMuseoTB]  WITH CHECK ADD FOREIGN KEY([idMuseo])
REFERENCES [dbo].[museoTB] ([idMuseo])
GO
ALTER TABLE [dbo].[datosMuseoTB]  WITH CHECK ADD FOREIGN KEY([idMuseo])
REFERENCES [dbo].[museoTB] ([idMuseo])
GO
ALTER TABLE [dbo].[IMGMuseoTB]  WITH CHECK ADD FOREIGN KEY([idMuseo])
REFERENCES [dbo].[museoTB] ([idMuseo])
GO
USE [master]
GO
